*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: #081b31;
    color:#fff;
    height: 5rem;
    line-height: 5rem; /* for align h1 vertically  from top and bottom */
}
.choice{
    height: 165px;
    width: 165px; 
    display: flex; /* align black outline in well manner */
    justify-content: center;
    align-items: center;
    border-radius: 50%;/* black outline in circle */
   
}
.choice:hover{
    cursor: pointer;
    background-color: #081b31;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    font-size: 2rem;
}
#user{
    font-size: 4rem;
}
.msg-container{
    margin-top: 5rem;
}
#computer{
    font-size: 4rem;
}
#msg{
     font-size: 2rem;
    background-color: #081b31;
    display: inline; /*so that bg color will occupied the text space only */
    color: #fff;
    padding: 1rem;
    border-radius: 1rem;
}

